.footer {
    width: 100%;
    z-index: 2;
    color: #ffffff;
    padding-bottom: 20px;
    background-color: var(--primary);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.p {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}

.ul {
    list-style: none;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.li {
   text-align: center;
   margin-bottom: 10px;
}

.credits {
    width: 100%;
    font-style: oblique;
    text-align: center;
    margin: 5px;
}

.credits2 {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
    text-decoration: underline;
    margin-bottom: 10px;
}


@media (min-width: 468px) {
 .ul {
      flex-direction: row;
      flex-wrap: wrap;
    }

 .li {
      text-align: center;
      margin-bottom: 10px;
      margin-left: 30px;
    }
}
